@import "_bits";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,900|Archivo+Narrow:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Poiret+One|Rationale|Coda:400,800|Iceland|Orbitron:400,500,700|Aldrich&subset=latin,latin-ext);

body {
	position: relative;
	margin: 0; padding: 0;
	background-color: lighten(#000000,6);
	/*background-color: darken(#ffffff,20);*/
}
ul {
	margin: 0; padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000000;
}
header {
	background-color: #ffffff;
	height: 140px;
	nav {
		margin-top: 60px;
		float: right;
		ul {
			float: right;
			li {
				float: left;
				list-style: none;
				margin-left: 40px;
				a {
					font-size: 0.95em;
					font-family: "Source Sans Pro";
					text-transform: uppercase;
					text-decoration: none;
					color: #000000;
					opacity: 0.5;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
}
.wrap {
	/*width: 80%;*/
	margin: 0 10%;
	/*background-color: darken(#ffffff,8);*/
}

.header {
	padding: 70px 0 50px 0;
}
h1 {

}
.page {
	position: relative;
}
.pagetitle {
	/*z-index: 2;*/
	position: absolute;
	top: 50%; left: 10%;
	margin-top: -20px;
	font-size: 3.2em;
	height: 100px;
	opacity: 0.3;
	/*text-transform: uppercase;*/
	font-family: "Aldrich";
	font-weight: 400;
	color: #ffffff;
}
#logo {
	float: left;
	margin: 0; padding: 0;
	margin-top: 50px;
	width: 46px;
	height: 34px;
	text-indent: -9999px;
	opacity: 0.5;
	background: transparent url(../img/logo.png) center center no-repeat;
	@include animation;
	&:hover {
		opacity: 0.8;
	};
}
h2 {
	margin: 0; padding: 0;
	/*padding-bottom: 20px;*/
	color: #ffffff;
	font-family: "Orbitron","Titillium Web", "Archivo Narrow", "Jockey One";
	font-size: 2.0em;
	font-weight: 400;
	letter-spacing: 1px;
	/*text-align: center;*/
}
.content {
	padding: 0px 0px 100px 0px;
}
p {
	font-family: "Titillium Web","Arial","Roboto";
	padding: 0;
	margin: 0;
	padding-bottom: 20px;
	color: #ffffff;
	opacity: 0.7;
	font-size: 1em;
	line-height: 1.8em;
	font-weight: 300;
	margin-right: 40%;
}
.feature {
	position: relative;
	overflow: hidden;
	padding: 0; margin: 0;
	height: 45vw;
	height: 500px;
	width: 100%;
	text-align: center;
	background: url(../img/bg.png) 10% 10% no-repeat;
	background-size: auto auto;
	@include animation;
	/*img {
		position: absolute;
		text-align: center;
		right: 20%; top: -15%;
		vertical-align: middle;

	}*/
	ul {
		/*position: absolute;
		height: 100%;
		width: 9999%;
		top: 0; left: 0;*/
	}
	.slider-nav {
		position: absolute;
		width: 100vw;
		height: 100%;
		top: 0; left: 0;
		a {
			display: block;
			height: 100%;
			line-height: 600px;
			text-align: center;
			width: 20%;
			color: #ffffff;
			font-size: 3em;
			opacity: 0;
			@include animation;
			&.prev {
				float: left;
				text-align: left;
			}
			&.next {
				float: right;
				text-align: right;
			}
			&:hover {
				opacity: 0.5;
			}
		}
	}
	.flex-viewport {
		height: 100%;
		.slides {
			height: 100%;
			.slide {
				position: relative;
				height: 100%;
				float: left;
				.front, .back {
					margin: 0; padding: 0; 
					position: absolute;
					top: 0px; left: 0;
					height: 100%;
					width: 100vw;
					background-repeat: no-repeat;
					background-position: center -100px;
				}
				&#hex {
					.front {
						background-image: url(../img/hex_top.png);
						background-position: center -120px;
					}
					.back {
						background-image: url(../img/hex_ligands.png);
					}
				}
				&#pk {
					.front {
						background-image: url(../img/pk_top.png);
						background-position: center -150px;
					}
					.back {
						background-image: url(../img/pk_ligands.png);
					}
				}
			}
		}
	}
}
